

/*Reset, 0-ställer alla värden*/
*{
	border:0;
	margin:0;
	padding:0;
	}

h2 {
	margin: 10px;
	text-align : center;
	}

h3 {
	color : #DF7401;
	font-family : Tahoma;
	}

h4 {
	font-size : 20px;
	padding: 12px;
	}

p {
	font-size: 14px;
	padding: 8px;
	text-align : center;
	}

table.articles td{
	font-family: Arial;
	border: solid 1px black;

	}

table.articles th{
	font-family: Helvetica;
	/*border: solid 1px gray;*/
	}

hr {
	border-top: solid 1px gray;
	}
	
body {
	font-family : Arial, Sans-serif;
	}
	
h1 {
	font-size: 44px;
	color: white;
	padding: 10px 0;
	height: 50px;
	background: rgba(100, 100, 100, 0,4);
	text-align : center;
	}
	
form{
	
}
	
	/*knapparna i menyn*/
form.login {
	width : 300px;
	margin : auto;
	background : lightgray;
	border-radius : 8px;
	padding: 15px;
	}
	
form.add_article {
	width : 200px;
	border: 1px;
	color: black;
	}	
	
form.edit_article {
	width : 200px;
	}
	
form fieldset {
	border: 0;
}

form fieldset.actions{
	text-align: right;
	padding: 10px;
	}
		
form fieldset.field div.row{
	padding: 10px 0;
	text-align: right;
	/*background : #F8ECE0;*/
	}
		
form fieldset.field div.row label{
	display :inline-block;
	width : 130px;
	}
	
header{
	background-color: orange;
	height: 99px;
	}
	

	
fieldset {
	border : 0px; 
	color: #000;
	margin : 5px;
	font-size: 12px;
	padding: 4px;
	margin: right;
	}	

input , textarea, select, button{
	border: .5px solid #000;
	}
input.arrondi{
	border-radius: 5px;
}	
	
textarea {
	border: 1px red solid;
	margin: 10px;
	}
	
row {
	padding : 40px; 
	}	
	
button {
	border-radius : 2px;
	height: 20px;
	line-height: 15px;
	color : black;
	cursor: pointer;
	widht: 100px;
	}
	
button:hover	


/*Menu*/
header nav {
	background: #000;
	min-width: 600px;
}

header nav ul {
	list-style: none;
}

header nav ul li.deconnexion {
	float: right;
	border: none;
}
header nav ul li {
	/*display: inline-block;*/
	display: block;
	float: left;
	height: 29px;
	line-height: 29px;
	border-right: solid 1px #fff;
	/*background: red;*/
}

header nav ul li a{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	transition-property: background;
	transition-duration: .5s;
	transition-timing-function: ease;
	font-size: 14px;
	padding: 0 7px;
	background: black;
	
	
	}

header nav ul li a:hover{
	text-decoration: underline;
	background: rgba(100, 100, 100, 0.5);
	
}
footer {
	font-size : 12px;
	text-align : center;
	padding : 2px;
}